<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Milda's garage{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <ul class="nav">
        <li class="logo">&#128663; Garage</li>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'service_list' %}">Services</a></li>
        <li><a href="{% url 'car_list' %}">Cars</a></li>
        <li><a href="{% url 'order_list' %}">Orders</a></li>
        {% if user.is_authenticated %}
        <li class="user">
            &#128100; {{ user.username }}
        </li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'user_orders_list' %}">My Orders</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
    {% endif %}
    </ul>
</header>
<main>{% block content %}
{% endblock content %}</main>
<footer><p>&copy; 2023 Milda</p></footer>
</body>
</html>
