{% extends 'base.html' %}
{% load static i18n %}
{% load humanize %}
{% block title %} {% trans "welcome to"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "milda's garage"|capfirst %}</h1>
<p>{% trans "welcome to garage paradise!"|capfirst %}</p>
<p>{% trans "some statistics"|capfirst %}:</p>
<ul>
    <li><strong>{% trans "services"|capfirst %}:</strong> {{ services_count }}</li>
    <li><strong>{% trans "delivered orders"|capfirst %}:</strong> {{ orders_completed }}</li>
    <li><strong>{% trans "repaired cars"|capfirst %}:</strong> {{ cars_count }}</li>
    <li>{% trans "you're visiting us already for the"|capfirst %} <strong>{{ num_visits|ordinal }}</strong> {% trans "time" %}</li>
</ul>
{% endblock content %}