{% extends 'base.html' %}
{% load humanize %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Milda's garage</h1>
<p>Welcome to garage paradise!</p>
<p>Some statistics:</p>
<ul>
    <li><strong>Services:</strong> {{ services_count }}</li>
    <li><strong>Delivered orders:</strong> {{ orders_completed }}</li>
    <li><strong>Repaired cars:</strong> {{ cars_count }}</li>
    <li>You're visiting us already for the <strong>{{ num_visits|ordinal }}</strong> time</li>
</ul>
{% endblock content %}