{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {% trans "orders"|capfirst %} {% endblock title %}
{% block content %}
<h1>{% trans "orders"|capfirst %}</h1>

{% include 'includes/search.html' %}  
{% include "includes/paginator_nav.html" %}

<ul>
    {% for order in orders %}
    <li>
        <strong><a href="{% url 'order_detail' order.pk %}">{% trans "order"|capfirst %} #{{ order.id }}:</a></strong> {{ order.car }}<br>
    </li>
    {% empty %}
    <li>{% trans "no orders found"|capfirst %}.</li>
    {% endfor %}
</ul>
  
{% include "includes/paginator_pages.html" %}
{% endblock %}