{% extends 'base.html' %}
{% block title %}My Cars{% endblock %}
{% block content %}
<h1>My Cars</h1>

{% include 'includes/search.html' %}
{% include "includes/paginator_nav.html" %}

{% if car_list %}
    <ul class="car-list">
        {% for car in car_list %}
            <li class="car-item">
                <a href="{% url 'car_detail' car.pk %}">{{ car.model }} - {{ car.license_plate }}</a>
                {% if car.order.status == 'new' %}
                    <a class="button" href="{% url 'order_update' car.order.pk %}">
                        {% if car.order.status == 'new' %}Update{% else %}Delete{% endif %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="box box-warning">No cars found.</p>
{% endif %}

{% include "includes/paginator_pages.html" %}
{% endblock %}