{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {% trans "password reset"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "password reset"|capfirst %}</h1>
{% if validlink %}
    <form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "change password"|capfirst %}</button>
    </form>
{% else %}
    <p class="box box-error">{% trans "password Reset Failed: the link has expired and is no longer valid."|capfirst %}</p>
{% endif %}
{% endblock content %}